* {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0, 85, 81);
    background: linear-gradient(
      360deg,
      rgba(0, 85, 81, 1) 0%,
      rgba(8, 84, 83, 1) 36%,
      rgba(117, 244, 255, 1) 100%
    );
    height: 100vh;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e6e6e6;
    padding: 35px;
    border-radius: 15px;
    height: auto;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 18px;
    box-shadow: 4px 4px 5px #252525;
  }
  .btn {
    float: right;
    border: none;
    border-radius: 50px;
    background-color: #40bb40;
    width: 70px;
    height: 40px;
    font-weight: 700;
    font-size: 25px;
    box-shadow: 2px 2px 5px #252525;
  }
  .btn:hover {
    color: #40bb40;
    background-color: black;
    box-shadow: 7px 7px 5px #252525;
  }
  .btn:active {
    opacity: 50%;
    box-shadow: 7px 7px 5px #252525;
  }
  .control {
    height: 35px;
    width: 25vw;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px;
  }
  .control-max {
    height: 35px;
    width: 51vw;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px;
  }
  .test-box {
      width: 28vw; 
      text-align: center; 
      color: #e6e6e6; 
      background-color: #252525; 
      padding: 16px; 
      border-top-left-radius: 15px; 
      border-top-right-radius: 15px; 
      font-weight: bold; 
      font-size: 1rem; 
      box-shadow: 4px 0px 5px #252525;
  }
  .row{
    display: flex;
    flex-direction: row;
  }
  .column{
    display: flex;
    flex-direction: column;
  }