/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

/* Body */
body {
  background-color: #212121;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container */
.container {
  background-color: #333;
  width: 320px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Title */
.login-title {
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Form */
.login-form .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.login-form label {
  color: #fff;
  margin-bottom: 5px;
  font-size: 18px;
}

.login-form input {
  padding: 8px 10px;
  font-size: 14px;
  border: 2px solid #555;
  border-radius: 5px;
  outline: none;
  transition: all 0.5s ease;
}

.login-form input:focus {
  border-color: rgb(237, 50, 50);

}
.login-form input:hover {
  transform: scale(1.1);
}


/* Button */
.btn-login {
  background-color: transparent;
  border: 2px solid #ed3232;
  color: #ed3232;
  font-size: 20px;
  border-radius: 50px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.btn-login:hover {
  background-color: #ed3232;
  color: #fff;
}
a{
  text-decoration: none;
  color: white;
}
.btn-voltar{
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  background-color: transparent;
  height: auto;
  width: 47px;
  border-radius: 50px;
  border: solid 2px #ed3232;
  color: #ed3232;
  transition: all 0.6s ease;
}
.btn-voltar:hover{
  background-color: #ed3232;
  color: white;
}
.btn-voltar:active{
  opacity: 50%;
  transform: scale(0.9);
}
.row {
  display: flex;
  flex-direction: row;
}